.accounts-table .MuiDataGrid-cell:last-of-type {
  color: #9da1b5;
}

.accounts-table .MuiDataGrid-cell {
  border-color: #f3f8f0 !important;
}

.accounts-table .MuiDataGrid-columnHeader.MuiDataGrid-columnHeader--sortable {
  position: relative;
}

.accounts-table .MuiDataGrid-columnHeader.MuiDataGrid-columnHeader--sortable::after {
  content: '';
  position: absolute;
  height: 38px;
  top: -6px;
  right: 10px;
  width: 1px;
  background-color: #e1e5ed;
}

.accounts-table .MuiDataGrid-columnHeader.MuiDataGrid-columnHeader--sortable:last-child:after {
  left: 120px;
}
